# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml

__pycache__/
*.pyc
.DS_Store
*.iml
*.xml

openai_api_key.txt

/.pytest_chache
/.of_mac_personal
components_list.txt
generated_skidl_code.py
/order_files
components_api_key.txt

venv